<section class="experience">
    <div class="row w-100">
        <div class="col-12 col-lg-6 px-4 " data-aos="fade-up">
            <div class="textt">
                <h1>
                    <strong>Experience</strong> World-class Agile Product Development
                </h1>
                <p>
                    Harness digitized business solutions comprising web, android and
                    iOS app solutions leveraging Blockchain, AI Chatbots, Machine
                    Learning and IoT technologies for your startup or enterprise.
                </p>
                <p>
                    <strong>Build and deploy thriving agile solutions that help you design,
                        develop, and scale.</strong>
                </p>
                <h1>Let's Start a New Project Together</h1>
                <a href="#" class="request">Request A Quote</a>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12 col-lg-4 col-md-6 my-4">
                    <div class="card">
                        <img src="../../../assets/images/20-years.png" alt="" class="card-img-top" />
                        <h1>12+</h1>
                        <p>years experience</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-6 my-4">
                    <div class="card">
                        <img src="../../../assets/images/talented-squad.png" alt="" class="card-img-top" />
                        <h1>250+</h1>
                        <p>Talented Squad</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-6 my-4">
                    <div class="card">
                        <img src="../../../assets/images/apps.png" alt="" class="card-img-top" />
                        <h1>1200+</h1>
                        <p>Apps Developments</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-6 my-4">
                    <div class="card">
                        <img src="../../../assets/images/projects--delivered.png" alt="" class="card-img-top" />
                        <h1>100+</h1>
                        <p>Projects Delivered</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-6 my-4">
                    <div class="card">
                        <img src="../../../assets/images/120-countries.png" alt="" class="card-img-top" />
                        <h1>50+</h1>
                        <p>Countries served</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-6 my-4">
                    <div class="card">
                        <img src="../../../assets/images/client-satisfication.png" alt="" class="card-img-top" />
                        <h1>100%</h1>
                        <p>clients satisfication</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="service py-5 my-5">
    <div class="text-center mx-auto" style="margin-top: 50px;">
        <h1 class="my-4">Our Services</h1>
        <p>We think big and have hands in all leading technology platforms to provide you array of services.</p>
    </div>

    <div class="Cards " style="margin-top: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="cardz">
                        <h1 class="my-3">iOS Development</h1>
                        <h5 class="small mt-2">Swift |&ensp;Realm |&ensp;Coredata |&ensp;objective c</h5>
                        <p class="my-4">Build powerful apps for the iOS platform covering a unique <br>
                            user base.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 ">
                    <div class="cardz">
                        <h1 class="my-3">Andriod Development</h1>
                        <h5 class="small mt-2">JAVA |&ensp;sqlite |&ensp;firebase |&ensp;room</h5>
                        <p class="my-4">Create robust solutions for each industry across a vast
                            <br> user base.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 ">
                    <div class="cardz">
                        <h1 class="my-3">Game Development</h1>
                        <h5 class="small mt-2">blender |&ensp;MAYA |&ensp;max |&ensp;unity</h5>
                        <p class="my-4">We build spectacular 2D and 3D multiplayer games for mobile devices powered by
                            addictive gameplay..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid  bg-dark my-5 py-5">
    <div class="container  ">
        <div class="text-center my-5 py-5">
            <h1 class="text-white">Our Latest Creative Work</h1>
        </div>
        <div class="row  ">
            <div class="col-lg-4 col-md-6 my-5 col-12">
                <div class="img-div">
                    <img src="../../../assets/images/applyup-1.png" alt="">
                    <div class="div">
                        <div class="text-center mt-5">
                            <h2>APPLYUP</h2>
                            <p>IOS,ANDRIOD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-5 col-12 ">
                <div class="img-div">
                    <img src="../../../assets/images/fluent-1.png" alt="">
                    <div class="div">
                        <div class="text-center mt-5">
                            <h2>BOODLE</h2>
                            <p>IOS,ANDRIOD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6  my-5 col-12 ">
                <div class="img-div">
                    <img src="../../../assets/images/hotset-1.jpg" alt="" class="">
                    <div class="div">
                        <div class="text-center mt-5">
                            <h2>HOTSET</h2>
                            <p>IOS,ANDRIOD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6  my-5 col-12 ">
                <div class="img-div">
                    <img src="../../../assets/images/curious-1.jpg" alt="" class="">
                    <div class="div">
                        <div class="text-center mt-5">
                            <h2>Curious</h2>
                            <p>IOS,ANDRIOD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-5 col-md-6 col-12">
                <div class="img-div">
                    <img src="../../../assets/images/oomco-1.jpg" alt="">
                    <div class="div">
                        <div class="text-center mt-5">
                            <h2>OCOMO</h2>
                            <p>IOS,ANDRIOD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-5  col-12 ">
                <div class="img-div">
                    <img src="../../../assets/images/bizad-1.jpg" alt="">
                    <div class="div">
                        <div class="text-center mt-5">
                            <h2>BIZAD</h2>
                            <p>IOS,ANDRIOD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid service">
    <div class="container indust mt-5 py-5 ">
      <div class="text-center my-5  py-5">
        <h1>Some Of Our Clients
        </h1>
        
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-4 my-2 col-6 kol ">
          <div class="d-flex align-items-center">
            <div class="logo">
              <img src="../../../assets/images/suzuki-logo.png" alt="" width="150px">
            </div>
           
          </div>
        </div>
        <div class="col-lg-2 col-md-4 my-2 col-6 kol ">
          <div class="d-flex align-items-center">
            <div class="logo">
              <img src="../../../assets/images/politico.png" alt="" width="150px">
            </div>
           
          </div>
        </div>
        <div class="col-lg-2 col-md-4 my-2 col-6 kol ">
          <div class="d-flex align-items-center">
            <div class="logo">
              <img src="../../../assets/images/artizone-logo.png" alt="" width="150px">
            </div>
           
          </div>
        </div>
        <div class="col-lg-2 col-md-4 my-2 col-6 kol ">
          <div class="d-flex align-items-center">
            <div class="logo">
              <img src="../../../assets/images/canon-logo-1.png" alt="" width="150px">
            </div>
           
          </div>
        </div>
        <div class="col-lg-2 col-md-4 my-2 col-6 kol ">
          <div class="d-flex align-items-center">
            <div class="logo">
              <img src="../../../assets/images/unilever.png" alt="" width="150px">
            </div>
           
          </div>
        </div>
        <div class="col-lg-2 col-md-4 my-2 col-6 kol ">
          <div class="d-flex align-items-center">
            <div class="logo">
              <img src="../../../assets/images/datastream.png" alt="" width="150px">
            </div>
           
          </div>
        </div>
        <div class="col-lg-2 col-md-4 my-2 col-6 kol ">
          <div class="d-flex align-items-center">
            <div class="logo">
              <img src="../../../assets/images/estee-lauder.png" alt="" width="150px">
            </div>
           
          </div>
        </div>
        <div class="col-lg-2 col-md-4 my-2 col-6 kol ">
          <div class="d-flex align-items-center">
            <div class="logo">
              <img src="../../../assets/images/sapient-logo-1.png" alt="" width="150px">
            </div>
           
          </div>
        </div>
        <div class="col-lg-2 col-md-4 my-2 col-6 kol ">
          <div class="d-flex align-items-center">
            <div class="logo">
              <img src="../../../assets/images/tissot-logo-1.png" alt="" width="150px">
            </div>
           
          </div>
        </div>
        <div class="col-lg-2 col-md-4 my-2 col-6 kol ">
          <div class="d-flex align-items-center">
            <div class="logo">
              <img src="../../../assets/images/dreamworks-logo.png" alt="" width="150px">
            </div>
           
          </div>
        </div>
        <div class="col-lg-2 col-md-4 my-2 col-6 kol ">
          <div class="d-flex align-items-center">
            <div class="logo">
              <img src="../../../assets/images/whitecastle-logo.png" alt="" width="150px">
            </div>
           
          </div>
        </div>
        <div class="col-lg-2 col-md-4 my-2 col-6 kol ">
          <div class="d-flex align-items-center">
            <div class="logo">
              <img src="../../../assets/images/walmart.png" alt="" width="150px">
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container indust mt-5 py-5">
    <div class="text-center py-5 ">
      <h1>Industries We Serve
      </h1>
      <p>Successfully delivered digital products
      </p>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 my-2 col-6 kol ">
        <div class="d-flex align-items-center">
          <div class="logo">
            <img src="../../../assets/images/taxi.svg" alt="" width="55px">
          </div>
          <div class="Text ms-4 mt-3">
            <p>Transport</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 my-2 col-6 kol ">
        <div class="d-flex align-items-center">
          <div class="logo">
            <img src="../../../assets/images/taxi.svg" alt="" width="55px">
          </div>
          <div class="Text ms-4 mt-3">
            <p>Transport</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 my-2 col-6 kol ">
        <div class="d-flex align-items-center">
          <div class="logo">
            <img src="../../../assets/images/taxi.svg" alt="" width="55px">
          </div>
          <div class="Text ms-4 mt-3">
            <p>Transport</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 my-2 col-6 kol ">
        <div class="d-flex align-items-center">
          <div class="logo">
            <img src="../../../assets/images/taxi.svg" alt="" width="55px">
          </div>
          <div class="Text ms-4 mt-3">
            <p>Transport</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 my-2 col-6 kol ">
        <div class="d-flex align-items-center">
          <div class="logo">
            <img src="../../../assets/images/taxi.svg" alt="" width="55px">
          </div>
          <div class="Text ms-4 mt-3">
            <p>Transport</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 my-2 col-6 kol ">
        <div class="d-flex align-items-center">
          <div class="logo">
            <img src="../../../assets/images/taxi.svg" alt="" width="55px">
          </div>
          <div class="Text ms-4 mt-3">
            <p>Transport</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 my-2 col-6 kol ">
        <div class="d-flex align-items-center">
          <div class="logo">
            <img src="../../../assets/images/taxi.svg" alt="" width="55px">
          </div>
          <div class="Text ms-4 mt-3">
            <p>Transport</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 my-2 col-6 kol ">
        <div class="d-flex align-items-center">
          <div class="logo">
            <img src="../../../assets/images/taxi.svg" alt="" width="55px">
          </div>
          <div class="Text ms-4 mt-3">
            <p>Transport</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 my-2 col-6 kol ">
        <div class="d-flex align-items-center">
          <div class="logo">
            <img src="../../../assets/images/taxi.svg" alt="" width="55px">
          </div>
          <div class="Text ms-4 mt-3">
            <p>Transport</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 my-2 col-6 kol ">
        <div class="d-flex align-items-center">
          <div class="logo">
            <img src="../../../assets/images/taxi.svg" alt="" width="55px">
          </div>
          <div class="Text ms-4 mt-3">
            <p>Transport</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 my-2 col-6 kol ">
        <div class="d-flex align-items-center">
          <div class="logo">
            <img src="../../../assets/images/taxi.svg" alt="" width="55px">
          </div>
          <div class="Text ms-4 mt-3">
            <p>Transport</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 my-2 col-6 kol ">
        <div class="d-flex align-items-center">
          <div class="logo">
            <img src="../../../assets/images/taxi.svg" alt="" width="55px">
          </div>
          <div class="Text ms-4 mt-3">
            <p>Transport</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container footer">
    <div class="text-center">
      <h1>Our Office </h1>
    </div>
    <div class="row mt-5">
      <div class="col-6 col text-center"><a href=""><i class="bi bi-envelope-fill"></i> goodfirms@cubix.co</a></div>
      <div class="col-6 col text-center"><a href=""><i class="bi bi-telephone-fill"></i> +787-778-6478</a></div>
    </div>
    <div class="row py-5">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="CARD">
          <div class="img">
            <img src="../../../assets/images/west-palm-beach.png" alt="">
          </div>
          <div class="text ">
            <h1>Florida</h1>
            <p>700 S. Rosemary Ave, Suite 204-118 West Palm Beach, FL 33401</p>
          </div>
        </div>
        
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="CARD">
          <div class="img">
            <img src="../../../assets/images/west-palm-beach.png" alt="">
          </div>
          <div class="text ">
            <h1>Florida</h1>
            <p>700 S. Rosemary Ave, Suite 204-118 West Palm Beach, FL 33401</p>
          </div>
        </div>
        
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="CARD">
          <div class="img">
            <img src="../../../assets/images/west-palm-beach.png" alt="">
          </div>
          <div class="text ">
            <h1>Florida</h1>
            <p>700 S. Rosemary Ave, Suite 204-118 West Palm Beach, FL 33401</p>
          </div>
        </div>
        
      </div>

    </div>
  </div>


  <div class="container-fluid bg">
    <form action="" >
      <div class="title">
        <h2 class="text-white">CONTACT</h2>
      </div>
      <div class="half">
        <div class="item">
          <label for="name">NAME</label>
          <input type="text" id = "name">
        </div>
        <div class="item">
          <label for="email">EMAIL</label>
          <input type="text" id = "email">
        </div>
      </div>
      <div class="full">
        <label for="message">MESSAGE</label>
        <textarea name="" id = "message"></textarea>
      </div>
      <div class="action">
        <input type="submit" value = "SEND MESSAGE">
        <input type="reset" value = "RESET">
      </div>
      <div class="icons">
        <a href="" class = "fa fa-twitter"></a>
        <a href="" class = "fa fa-facebook"></a>
        <a href="" class = "fa fa-instagram"></a>
        <a href="" class = "fa fa-github"></a>
      </div>
    </form>
  </div>