<div class="home">
    <div class="container-fluid">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-6 col-12">
                    <video autoplay muted loop id="myVideo" width="100%">
                        <source src="../../../assets/imgs/thm.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="content mt-5 pt-5 px-4">
                        <h5>Top 100 FITNESS APP</h5>
                        <h1>THE HEALTHY MUMMY</h1>
                        <p>Our design revolution empowered 2 million moms
                            to lose 6 million pounds in 12 months.</p>
                        <small class="text-secondary">SWIFT . KOTLIN . METEOR . REACT . DOCKER . SEMAPHORE . MONGO DB
                        </small>
                    </div>
                    <div class="btn">
                        <button class="mt-3 btn btn-dark me-2" type="button">View More</button>
    
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid" style="background-color: #7984E3;">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-6 col-12">
                    <div class="content mt-5 pt-5 px-4">
                        <h5>Monetizing Gamers’ Passion</h5>
                        <h1>EN GRADE</h1>
                        <p>World’s 1st match-matching platform for gamers,
                            where they earn money by playing and winning.
                        </p>
                        <small>REACT NATIVE . REACT JS . NODE.JS . AWS . MYSQL </small>
                    </div>
                    <div class="btn">
                        <button class="mt-3 btn btn-dark me-2" type="button">View More</button>
    
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <img src="../../../assets/imagesz/engarde-home.png" alt="" width="100%">
    
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-6 col-12">
                    <video autoplay muted loop id="myVideo" width="100%">
                        <source src="../../../assets/imgs/heatmiser.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="content mt-5 pt-5 px-4">
                        <h5>Humanized Iot</h5>
                        <h1>HEATMISER</h1>
                        <p>Our Internet of things powered smart home
                            solutions enabled users to slash energy bills by 50%!</p>
                        <small class="text-secondary">ALEXA . HOME KIT . GOOGLE HOME . SWIFT . PYTHON . AWS</small>
                    </div>
                    <div class="btn">
                        <button class="mt-3 btn btn-dark me-2" type="button">View More</button>
    
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid" style="background-color: #7984E3;">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-6 col-12">
                    <div class="content mt-5 pt-5 px-4">
                        <h5 class="text-white">Digital Transformation</h5>
                        <h1 class="text-white">ARGO TEXAS</h1>
                        <p class="text-white">We made insurance shopping easy, swift and seamless
                            with a mobile-first approach and real-time assistance.
                        </p>
                        <small class="text-white">ANGULAR . FLUTTER . PYTHON . MYSQL . AWS</small>
                    </div>
                    <div class="btn">
                        <button class="mt-3 btn  me-2 text-dark" type="button" style="background-color: #7984E3;">View
                            More</button>
    
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <img src="../../../assets/imagesz/argo.png" alt="" width="100%">
    
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-6 col-12">
                    <video autoplay muted loop id="myVideo" width="100%">
                        <source src="../../../assets/imgs/boxtly.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="content mt-5 pt-5 px-4">
                        <h5>IoT Powered Real Estate</h5>
                        <h1>Boxlty</h1>
                        <p>We leveraged IoT to rejuvenate real estate: With real-time
                            verification and identification, we re-engineered user experience.</p>
                        <small class="text-secondary">SWIFT . KOTLIN . JAVA . NODE JS . AWS . BLE . TRULIOO</small>
                    </div>
                    <div class="btn">
                        <button class="mt-3 btn btn-dark me-2" type="button">View More</button>
    
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container-fluid" style="background-color: #88BBDD;">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-6 col-12">
                    <div class="content mt-5 pt-5 px-4">
                        <h5 class="text-white">EMMY AWARD WINNER</h5>
                        <h1 class="text-white">THE AND CARD GAME</h1>
                        <p class="text-white">We created a card game that offered Emmy Award
                            winning experience, right on the smartphone.</p>
                        <small class="text-white">FLUTTER . PYTHON . AWS . FIREBASE</small>
                    </div>
                    <div class="btn">
                        <button class="mt-3 btn  me-2 " type="button" style="color: #88BBDD; background-color: white;">FIND
                            OUT HOW</button>
    
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <img src="../../../assets/imagesz/the-and-home.png" alt="" width="100%">
    
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid my-5">
        <div class="container main-container mb-5">
            <h1 class="text-center">ABOUT US</h1>
            <h2 class="text-center mt-sm-3">
                We are disrupting status quo with next-gen<br />
                Digital & Mobility transformation
            </h2>
            <div class="row mt-5 px-5 mgin">
                <div class="col-md-2 col-sm-6 col-12 ">
                    <h1 class="numbers">13</h1>
                    <p>
                        Years of Experience<br />
                        and Innovation
                    </p>
                </div>
                <div class="col-md-2 col-sm-6 col-12 ">
                    <h1 class="numbers">250</h1>
                    <p>
                        Multicultural and<br />
                        Diversified Team
                    </p>
                </div>
                <div class="col-md-2 col-sm-6 col-12">
                    <h1 class="numbers">700</h1>
                    <p>
                        Startups, Brands,<br />
                        and Fortune 500
                    </p>
                </div>
                <div class="col-md-2 col-sm-6 col-12 ">
                    <h1 class="numbers">2000</h1>
                    <p>
                        Digital Products<br />
                        and Solutions
                    </p>
                </div>
                <div class="col-md-2 col-sm-6 col-12 ">
                    <h1 class="numbers">02BN</h1>
                    <p>
                        2 Billion+ User<br />
                        Interactions
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12 mx-0 px-0  py-">
    
                    <img src="../../../assets/imagesz/digital-product.png" class=" mergin" alt="" width="100%" height="93%"
                        style="margin-top: -6.2%;">
    
                </div>
                <div class="col-md-6 col-12  mx-0 px-0 ">
                    <div class="container  px-3">
                        <div class="row row-cols-2 ">
                            <div class="col  mx-0 px-0" style=" border: 2px solid white;">
                                <img src="../../../assets/imagesz/box-img.png" alt="" width="100%">
                            </div>
                            <div class="col mx-0 px-0" style=" border: 2px solid white;"><img src="../../../assets/imagesz/box-img1.png"
                                    alt="" width="100%"></div>
                            <div class="col  mx-0 px-0" style=" border: 2px solid white;"> <img src="../../../assets/imagesz/box-img2.png"
                                    alt="" width="100%"></div>
                            <div class="col  mx-0 px-0" style=" border: 2px solid white;"> <img src="../../../assets/imagesz/box-img3.png"
                                    alt="" width="100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="conatiner-fluid mt-5">
        <div class="container">
            <div class=" w-75 text-center mx-auto">
                <h1>PARTNERS</h1>
                <p style="font-size: 3vw;">Leverage our in-depth platform
                    expertise and technology partnerships</p>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row mt-5">
                <div class="col-md-6 col-12 mb-5 " data-aos="fade-up" data-aos="fade-up">
                    <fieldset class="border p-2" style="border-radius: 10px !important;">
                        <legend class="w-auto " style="margin-top: -30px;"><img src="../../../assets/imagesz/tech-google-developer.svg"
                                alt=""></legend>
                        <p class="px-4 text-center py-2 text-secondary">As Microsoft Certified Gold Partner, we help you
                            derive the
                            maximum advantage out of Azure Cloud and Microsoft Platforms</p>
                    </fieldset>
                </div>
                <div class="col-md-6 col-12 mb-5" data-aos="fade-up">
                    <fieldset class="border p-2" style="border-radius: 10px !important;">
                        <legend class="w-auto " style="margin-top: -30px;"><img src="../../../assets/imagesz/tech-google-developer.svg"
                                alt=""></legend>
                        <p class="px-4 text-center py-2 text-secondary">As Microsoft Certified Gold Partner, we help you
                            derive the
                            maximum advantage out of Azure Cloud and Microsoft Platforms</p>
                    </fieldset>
                </div>
                <div class="col-md-6 col-12 mb-5" data-aos="fade-up">
                    <fieldset class="border p-2" style="border-radius: 10px !important;">
                        <legend class="w-auto " style="margin-top: -30px;"><img src="../../../assets/imagesz/tech-google-developer.svg"
                                alt=""></legend>
                        <p class="px-4 text-center py-2 text-secondary">As Microsoft Certified Gold Partner, we help you
                            derive the
                            maximum advantage out of Azure Cloud and Microsoft Platforms</p>
                    </fieldset>
                </div>
                <div class="col-md-6 col-12 mb-5" data-aos="fade-up">
                    <fieldset class="border p-2" style="border-radius: 10px !important;">
                        <legend class="w-auto " style="margin-top: -30px;"><img src="../../../assets/imagesz/tech-google-developer.svg"
                                alt=""></legend>
                        <p class="px-4 text-center py-2 text-secondary">As Microsoft Certified Gold Partner, we help you
                            derive the
                            maximum advantage out of Azure Cloud and Microsoft Platforms</p>
                    </fieldset>
                </div>
                <div class="col-md-6 col-12 mb-5" data-aos="fade-up">
                    <fieldset class="border p-2" style="border-radius: 10px !important;">
                        <legend class="w-auto " style="margin-top: -30px;"><img src="../../../assets/imagesz/tech-google-developer.svg"
                                alt=""></legend>
                        <p class="px-4 text-center py-2 text-secondary">As Microsoft Certified Gold Partner, we help you
                            derive the
                            maximum advantage out of Azure Cloud and Microsoft Platforms</p>
                    </fieldset>
                </div>
                <div class="col-md-6 col-12 mb-5" data-aos="fade-up">
                    <fieldset class="border p-2" style="border-radius: 10px !important;">
                        <legend class="w-auto " style="margin-top: -30px;"><img src="../../../assets/imagesz/tech-google-developer.svg"
                                alt=""></legend>
                        <p class="px-4 text-center py-2 text-secondary">As Microsoft Certified Gold Partner, we help you
                            derive the
                            maximum advantage out of Azure Cloud and Microsoft Platforms</p>
                    </fieldset>
                </div>
                <div class="col-md-6 col-12 mb-5" data-aos="fade-up">
                    <fieldset class="border p-2" style="border-radius: 10px !important;">
                        <legend class="w-auto " style="margin-top: -30px;"><img src="../../../assets/imagesz/tech-google-developer.svg"
                                alt=""></legend>
                        <p class="px-4 text-center py-2 text-secondary">As Microsoft Certified Gold Partner, we help you
                            derive the
                            maximum advantage out of Azure Cloud and Microsoft Platforms</p>
                    </fieldset>
                </div>
                <div class="col-md-6 col-12 mb-5" data-aos="fade-up">
                    <fieldset class="border p-2" style="border-radius: 10px !important;">
                        <legend class="w-auto " style="margin-top: -30px;"><img src="../../../assets/imagesz/tech-google-developer.svg"
                                alt=""></legend>
                        <p class="px-4 text-center py-2 text-secondary">As Microsoft Certified Gold Partner, we help you
                            derive the
                            maximum advantage out of Azure Cloud and Microsoft Platforms</p>
                    </fieldset>
                </div>
                <div class="col-md-6 col-12 mb-5" data-aos="fade-up">
                    <fieldset class="border p-2" style="border-radius: 10px !important;">
                        <legend class="w-auto " style="margin-top: -30px;"><img src="../../../assets/imagesz/tech-google-developer.svg"
                                alt=""></legend>
                        <p class="px-4 text-center py-2 text-secondary">As Microsoft Certified Gold Partner, we help you
                            derive the
                            maximum advantage out of Azure Cloud and Microsoft Platforms</p>
                    </fieldset>
                </div>
                <div class="col-md-6 col-12 mb-5" data-aos="fade-up">
                    <fieldset class="border p-2" style="border-radius: 10px !important;">
                        <legend class="w-auto " style="margin-top: -30px;"><img src="../../../assets/imagesz/tech-google-developer.svg"
                                alt=""></legend>
                        <p class="px-4 text-center py-2 text-secondary">As Microsoft Certified Gold Partner, we help you
                            derive the
                            maximum advantage out of Azure Cloud and Microsoft Platforms</p>
                    </fieldset>
                </div>
                <div class="col-md-6 col-12 mb-5" data-aos="fade-up">
                    <fieldset class="border p-2" style="border-radius: 10px !important;">
                        <legend class="w-auto " style="margin-top: -30px;"><img src="../../../assets/imagesz/tech-google-developer.svg"
                                alt=""></legend>
                        <p class="px-4 text-center py-2 text-secondary">As Microsoft Certified Gold Partner, we help you
                            derive the
                            maximum advantage out of Azure Cloud and Microsoft Platforms</p>
                    </fieldset>
                </div>
                <div class="col-md-6 col-12 mb-5" data-aos="fade-up">
                    <fieldset class="border p-2" style="border-radius: 10px !important;">
                        <legend class="w-auto " style="margin-top: -30px;"><img src="../../../assets/imagesz/tech-google-developer.svg"
                                alt=""></legend>
                        <p class="px-4 text-center py-2 text-secondary">As Microsoft Certified Gold Partner, we help you
                            derive the
                            maximum advantage out of Azure Cloud and Microsoft Platforms</p>
                    </fieldset>
                </div>
    
    
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="container  py-4 px-5" style="background-color: #E4F8F4; border-radius: 10px;">
            <h1>Insights that matters</h1>
            <h5 class="mt-4 " style="font-size: 30px; line-height: 1.5;">
                Technological innovations<br>
                that change everything
    
    
            </h5>
    
    
    
            <div class="row mt-5">
                <div class="col-lg-4 col-md-6 col-12 mb-3">
                    <div class="card px-3 py-3" style="border-radius: 10px;">
                        <div class="card-body" style="font-weight: 600;">
                            This is some text within a card body.This is some text within a card body.
                        </div>
                        <div class="betn d-flex justify-content-between mt-3">
                            <button type="button" class="btn "> Check Our Solutions</button>
                            <i class="bi bi-send mt-2"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-3">
                    <div class="card px-3 py-3" style="border-radius: 10px;">
                        <div class="card-body" style="font-weight: 600;">
                            This is some text within a card body.This is some text within a card body.
                        </div>
                        <div class="betn d-flex justify-content-between mt-3">
                            <button type="button" class="btn "> Check Our Solutions</button>
                            <i class="bi bi-send mt-2"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-3">
                    <div class="card px-3 py-3" style="border-radius: 10px;">
                        <div class="card-body" style="font-weight: 600;">
                            This is some text within a card body.This is some text within a card body.
                        </div>
                        <div class="betn d-flex justify-content-between mt-3">
                            <button type="button" class="btn "> Check Our Solutions</button>
                            <i class="bi bi-send mt-2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container-fluid py-5">
        <div class="container mt-5">
            <h1 class="text-center my-5">Let’s Script An Exciting Future</h1>
            <form action="">
                <div class="mx-auto" style="width: 80%;">
                    <div class="inputbox mb-3">
                        <input type="text" name="" id="halfinput" placeholder="FULL NAME*">
                    </div>
                    <div class="inputbox mb-3 ">
                        <input type="text" name="" id="halfinput" placeholder="EMAIL">
                    </div>
                    <div class="inputbox mb-3">
                        <input type="text" name="" id="halfinput" placeholder="PHONE NUMBER">
                    </div>
                    <div class="inputbox mb-3 mt-3">
                        <input type="text" name="" id="halfinput" placeholder="COMPANY">
                    </div>
                    <div class="inputbox mb-3 mt-3">
                        <input type="text" name="" id="fullinput" placeholder="MESSAGE*">
                    </div>
    
                </div>
                <div class="butn my-3 " style="margin-left: 80%;">
                    <button type="button" class="btn btn-primary">SUBMIT</button>
                </div>
            </form>
    
    
        </div>
    </div>
</div>