<footer>
    <section class="footer-sec">
      <div class="container">
        <br /><br />
        <br />
        <div class="row" id="margin">
          <div class="col-md-3">
            <h6>LOS ANGELES</h6>
            <br />
            <p>
              28720 Roadside Dr, STE 254
              <br />
              Adoura Hills, CA 91301, USA
              <br />
              <br />
              +1 818-318-0727
            </p>
          </div>
          <div class="col-md-3">
            <h6>NEW DELHI</h6>
            <br />
            <p>
              Floor 7A, Tower C, Noida One,
              <br />
              Sector 62, noida, india
              <br />
              <br />
              + 91 120 6039900
            </p>
          </div>
          <div class="col-md-3">
            <h6>QUICK LINKS</h6>
            <br />
            <p>
              Knowladge Center <br />
              Press Release <br />
              Client Reviews <br />
              Career
            </p>
          </div>
          <div class="logo col-md-3">
            <div class="row">
              
              <div class="col-md-6">
                <img
                  src="../../../assets/image/footer-clutch.svg"
                  style="height: 140px;"
                  alt=""
                  id="med-img"
                />
              
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid" style="margin-top: 50px">
        <div class="container">
          <hr />
          <div class="row" style="margin-top: 50px">
            <div class="col-md-6">
              <ul id="ul-center">
                <li style="list-style: none">
                  <a href=""> <img src="../../../assets/image/linkedin.svg" alt="" /> </a>
                </li>
                <li>
                  <a href=""> <img src="../../../assets/image/instagram.svg" alt="" /> </a>
                </li>
                <li>
                  <a href=""> <img src="../../../assets/image/twitter.svg" alt="" /> </a> </li>
                <li>
                  <a href=""> <img src="../../../assets/image/dribbble.svg" alt="" /> </a> </li>
                <li> <a href=""><img src="../../../assets/image/behance.svg" alt="" /></a></li>
              </ul>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                          <ul class="ul-side1" style="margin-left: 126px;">
                              <li>
                                <a href="">
                                  <p>Disclaimer.</p>
                                </a>
                              </li>
                              <li>
                                <a href="">
                                  <p>Privacy Policy</p>
                                </a>
                              </li>
                             
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="ul-side" style="margin-right: 20px;">
                                <li>
                                    <a href=""> <b> <p>© 2009 - 2022 SoftwareCompany</p> </b></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                
              
          </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>