<body>
    <section>
      <footer>
        
          <div class="container">
            <div class="row">
              <div class="col d-lg-none d-block border border-dark">
                  <div class="text-center contact">
                    <h2 style="color: white;">Contact Us</h2>
                      <ul >
                          <li>Algoworks Solutions Inc.</li>
                          <li>355 W Olive Ave #204</li>
                          <li>Sunnyvale CA 94086</li>
                          <li><a >sales@algoworks.com</a></li>
                          <li>+1-877-284-1028</li>
                          <li>+1-844-969-6757</li>
  
                      </ul>
                  </div>
              </div>
          </div>
            <div class="row px-lg-5 " id="row">
              <div class="col-lg-2 col-md-3 col-6 ">
                <div class="menu-list-1" >
                <span>Services</span>
                  <ul class="text-end" >
                    <li ><a >Consulting</a></li>
                    <li><a >UI/UX Design</a></li>
                    <li><a >Quality Assurance</a></li>
                    <li><a >Custom Apps</a></li>
                    <li><a >Custom Engineering</a></li>
                    <li><a >Salesforce Services</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-3 d-sm-block d-none ">
                <div class="menu-list-1">
                    <span>Technologies</span>
                  <ul class="text-end ">
                    <li><a >App Development</a></li>
                    <li><a >Web</a></li>
                    <li><a >Salesforce</a></li>
                    <li><a >iOS</a></li>
                    <li><a >Android</a></li>
                    <li><a >Cloud</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 d-lg-block d-none text-center contacts border " >
                <h3 style="color: white;">Contact Us</h3>
                    <ul >
                        <li>Algoworks Solutions Inc.</li>
                        <li>355 W Olive Ave #204</li>
                        <li>Sunnyvale CA 94086</li>
                        <li><a >sales@algoworks.com</a></li>
                        <li>+1-877-284-1028</li>
                        <li>+1-844-969-6757</li>

                    </ul>
                   </div>
              


              <div
                class="col-lg-2 col-3 d-sm-block d-none "
              >
              <div class="menu-list-2" >
               
                <ul class="text-end">
                  <span>Trending</span>
                  <li ><a >Salesforce PDO</a></li>
                  <li><a >Security Testing</a></li>
                  <li><a >DevOps</a></li>
                  <li><a >Xamarin</a></li>
                  <li><a >AngularJS</a></li>
                  <li><a >Dell Boomi</a></li>
                </ul>
              </div>
            </div>
              <div
                class="col-lg-2 col-md-3 col-6 "
              >
              <div class="menu-list-2"  >
                
                <ul class="text-end">
                  <span>Quick Links</span>
                  <li><a >Blog</a></li>
                  <li><a >Portfolio</a></li>
                  <li><a >In The Press</a></li>
                  <li><a >Careers</a></li>
                  <li><a >CSR Initiatives</a></li>
                  <li><a >Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
            <div class="col-md-12 ">
                
                <ul class="ul-2">
                   <li >
                       <a ><i class="fa-brands fa-facebook-f text-white"></i> </a>
                   </li >
                   <li>
                    <a > <i class="fa-brands fa-tumblr text-white"></i> </a>
                </li> <li>
                    <a > <i class="fa-brands fa-dribbble text-white"></i> </a>
                </li> <li>
                    <a > <i class="fa-brands fa-slideshare text-white"></i> </a>
                </li> <li>
                    <a > <i class="fa-brands fa-twitter text-white"></i> </a>
                </li> <li>
                    <a > <i class="fa-brands fa-linkedin text-white"></i> </a>
                </li> <li>
                    <a > <i class="fa-brands fa-reddit text-white"></i> </a>
                </li> <li>
                    <a > <i class="fa-brands fa-wordpress text-white"></i> </a>
                </li> <li>
                    <a > <i class="fa-brands fa-behance text-white"></i> </a>
                </li> <li>
                    <a > <i class="fa-brands fa-flickr text-white"></i> </a>
                </li> <li>
                    <a > <i class="fa-brands fa-youtube text-white"></i> </a>
                </li> <li>
                    <a > <i class="fa-brands fa-pinterest text-white"></i> </a>
                </li> <li>
                    <a > <i class="fa-brands fa-instagram text-white"></i> </a>
                </li>
                </ul>
        </div>
      </div>
        <div class="ali">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12  d-flex  justify-content-lg-start justify-content-center" >
                        <div><img src="../../../assets/footer-images/footer-iso.png" alt=""></div>
                        <div><img src="../../../assets/footer-images/algo-pledge-badge.png" alt=""></div>
                        <div><img src="../../../assets/footer-images/dmca-badge-w100-2x1-03.png" alt=""></div>
                    </div>
                    <div class="col-lg-6 col-12 d-flex justify-content-lg-end justify-content-center">
                          <ul class="ul-3">
                            <li>© Copyright 2022. All Rights Reserved. |</li>
                            <li>Privacy Policy |</li>
                            <li>Terms of Service</li>
                          </ul>
                    </div>

                </div>
            </div>
        </div>
      </footer>
      </section>

   

  </body>